{# src/JMPC/PetFriends/ProtectorsBundle/Resources/views/Lost/form.html.twig #}
{# Formulario para notificar si se ha encontrado el animal #}
{# Acceso: Usuario registrado #}

<div id="form_lost">
	{{ form (form) }}
</div>