{# app/Resources/FOSUserBundle/views/Registration/checkEmail.html.twig #}
{# Plantilla sobreescrita FOSUserBundle #}

{% extends 'JMPCPetFriendsProtectorsBundle::base.html.twig' %}

{% trans_default_domain 'FOSUserBundle' %}

{% block meta %}
	{{ parent() }}
	<meta http-equiv="Refresh" content="5;url=http:../">
{% endblock %}

{% block sidebar %}{% endblock %}
{% block fos_user_content %}
    	<p>{{ 'registration.check_email'|trans({'%email%': user.email}) }}</p>
{% endblock fos_user_content %}

