{# src/JMPC/PetFriends/ProtectorsBundle/Resources/views/Page/edit.html.twig #}
{# Plantilla que edita entradas del blog en el sitio web #}
{# Acceso: Administrador #}

{% extends 'JMPCPetFriendsProtectorsBundle::base.html.twig' %}

{% block title %}Administración Editar entrada{% endblock %}

{% block section %}
<div class="grid_8 prefix_1">
    <h2>Editar Entrada</h2><br>
    {% if is_granted("ROLE_ADMIN") %} 
        <div id="form">
            {{ form (form) }}
        </div>
        <div id="preview_img" title="Vista previa" style="display:none">
            <img id="img_preview" src="{{ asset ('img/avatar.png') }}" />
        </div>
    {% else %} 
        <div class="not_found"></div>
    {% endif %}
        <div class="button_back">
            <a class="btn02" href="{{ path('jmpc_pet_friends_protectors_homepage') }}">Volver</a>
        </div>
</div>
{% endblock %}